<!DOCTYPE html>
<html ng-app="SimpleMarker">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ base_url() }}/css/style.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>CarPal - Case ID: {{ arg.case }}</title>
</head>
<body ng-controller="DefaultController" ng-init="init()">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <span style="position: absolute; top: 2px; left: 2px"><a href="http://carpal.com/"><img src="{{ base_url() }}/img/carpal.png" height="46px"></a></span>
        <div class="navbar-header" style="padding-left: 50px">
            <span class="navbar-brand"><strong>Case ID: {{ arg.case }}</strong></span>
        </div>
    </div>

</nav>
{# center map icon #}
<div class="container">
    <button style="position: absolute; top: 60px; left: 10px;" type="button" ng-click="getMyLocation()" class="btn btn-primary">
        <span class="visiblexs">
            <i class="fa fa-location-arrow"></i>
        </span>
    </button>
</div>

<div class="global-map-container">
    <ng-map controls="false"  disable-default-u-i="true"></ng-map>
    <div class="center-marker"></div>

</div>

<footer>
    <form action="{{ path_for('post.customer.map') }}" method="post" >
        <input  type="hidden" name="lat" ng-value="hiddenForm.lat" />
        <input  type="hidden" name="lng" ng-value="hiddenForm.lng" />
        <input  type="hidden" name="case" value="{{ arg.case }}" />
        <input  type="hidden" name="token" value="{{ arg.token }}" />
        <input  type="hidden" name="brand" value="{{ arg.brand }}" />
        <input  type="hidden" name="language" value="{{ arg.language }}" />


        <div class="container">
            <div class="row" ng-if="hiddenForm.lat != 0 && hiddenForm.lng != 0">
                <div class="col-md-12">

                    <div class="loc-panel">
                        Location:
                        <span ng-bind="hiddenForm.lat"></span>,
                        <span ng-bind="hiddenForm.lng"></span>
                    </div>

                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-12">
                    <textarea name="comment" ng-model="hiddenForm.comment" class="form-control" placeholder="Additional instructions..."></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <button class="btn btn-primary btn-block ">Save</button>
                </div>
            </div>
        </div>
    </form>

</footer>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4DXooF_z_W0EuqJ0ctTGnjzWBhYeiF_w"></script>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

{#<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>#}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{#<script src="/node_modules/angular/angular.min.js"></script>#}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
<script src="{{ base_url() }}/node_modules/ngmap/build/scripts/ng-map.min.js"></script>
<script src="{{ base_url() }}/js/app-map.js"></script>

</body>

</html>