<!DOCTYPE html>
<html ng-app="SimpleMarker">
<head>
    <title>CarPal - Case ID: {{ data.caseid }}</title>
</head>
<body>
<br/>
<br/>

    Your location details have been successfully submitted. <br/>
    <br/>
    <br/>
    Case ID: {{ data.caseid }} <br/>
    Latitude: {{ data.latvalue }} <br/>
    Longitude: {{ data.longvalue }} <br/>
    Additional Details: {{ data.comment }}

</body>